<!-- INCLUDE gallery/gallery_header.html -->

<h2 class="solo">{L_SEARCH}</h2>
<div class="ucp-content big-bottom-margin">

<form method="post" action="{S_SEARCH_ACTION}">

<div class="box small-bottom-margin">
	<h3>{L_SEARCH_QUERY}</h3>

	<fieldset>
	<dl class="collist">
		<dt><label for="keywords">{L_SEARCH_KEYWORDS}:</label><!-- IF S_IMPLEMENTED --><br /><span>{L_SEARCH_KEYWORDS_EXPLAIN}</span><!-- ENDIF --></dt>
		<dd>
			<input type="text" class="inputbox" name="keywords" id="keywords" size="40" title="{L_SEARCH_KEYWORDS}" /><br /><br />
			<label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked" /> {L_SEARCH_ALL_TERMS}</label><br />
			<label for="terms2"><input type="radio" name="terms" id="terms2" value="any" /> {L_SEARCH_ANY_TERMS}</label>
		</dd>

		<dt><label for="username">{L_SEARCH_AUTHOR}:</label><p class="description">{L_SEARCH_AUTHOR_EXPLAIN}</p></dt>
		<dd><input type="text" class="inputbox" name="username" id="username" size="40" title="{L_SEARCH_AUTHOR}" /></dd>
	</dl>
	</fieldset>
</div>

<div class="box small-bottom-margin">

	<h3>{L_SEARCH_OPTIONS}</h3>

	<fieldset>
	<dl class="collist">
		<dt><label for="search_album">{L_SEARCH_ALBUMS}:</label><!-- IF S_IMPLEMENTED --><br /><span>{L_SEARCH_ALBUMS_EXPLAIN}</span><!-- ENDIF --></dt>
		<dd><select name="aid[]" id="search_album" multiple="multiple" size="8" title="{L_SEARCH_ALBUMS}">{S_ALBUM_OPTIONS}</select></dd>
	<!-- IF S_IMPLEMENTED -->
		<dt><label for="search_child1">{L_SEARCH_SUBALBUMS}:</label></dt>
		<dd>
			<label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1" checked="checked" /> {L_YES}</label> 
			<label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0" /> {L_NO}</label>
		</dd>
	<!-- ENDIF -->
	<!-- IF S_IMPLEMENTED -->
		<dt><label for="sf1">{L_SEARCH_WITHIN}:</label></dt>
		<dd>
			<label for="sf1"><input type="radio" name="sf" id="sf1" value="all" checked="checked" /> {L_SEARCH_IMAGE_COMMENTS}</label><br /><br />
			<label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly" /> {L_SEARCH_IMAGE_VALUES}</label><br />
			<label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly" /> {L_SEARCH_IMAGENAME}</label><br />
			<label for="sf4"><input type="radio" name="sf" id="sf4" value="firstpost" /> {L_SEARCH_COMMENTS}</label>
		</dd>
	<!-- ENDIF -->

    </dl>

	<hr class="dashed" />

	<dl class="collist">
		<dt><label for="sd">{L_RESULT_SORT}:</label></dt>
		<dd>{S_SELECT_SORT_KEY}
			<p>
				<label for="sa"><input type="radio" name="sd" id="sa" value="a" /> {L_SORT_ASCENDING}</label>
				<label for="sd"><input type="radio" name="sd" id="sd" value="d" checked="checked" /> {L_SORT_DESCENDING}</label>
			</p>
		</dd>
	</dl>
	</fieldset>

</div>

<fieldset>
{S_HIDDEN_FIELDS}
</fieldset>

<div class="submitrow">
	<fieldset class="btn-group">
		<input type="reset" value="{L_RESET}" name="reset" class="btn btn-small" />
		<input type="submit" name="submit" value="{L_SEARCH}" class="btn btn-small strong" />
	</fieldset>
</div>

</form>
</div>

<!-- INCLUDE gallery/gallery_footer.html -->